@model IEnumerable<GeneCESI.Lib.Objects.Question>


@{
    ViewBag.Title = "DisplayExamen";
}

<div class="examName">
    @Html.DisplayFor(modelItem => Model.ElementAt(0).FK_Exam.Label)
</div>



@foreach (var item in Model)
{

<div class="questionContainer">
    @Html.DisplayFor(modelItem => item.Label)
    @{var listStatement = GeneCESI.Lib.Helpers.CommonHelpers.StatementsToString(item.FK_Answers.Statements);}
    @if (item.Type == GeneCESI.Lib.Helpers.EnumHelper.QuestionType.YesNo)
    {
        foreach (var x in listStatement)
        {<p><input type="radio" name="YesNo" /> @Html.DisplayFor(modelItem => x)</p>}
}
    else if (item.Type == GeneCESI.Lib.Helpers.EnumHelper.QuestionType.UniqueChoice)
    {
        foreach (var x in listStatement)
        {<p><input type="radio" name="UniqueChoice" /> @Html.DisplayFor(modelItem => x)</p>}

    }
    else if (item.Type == GeneCESI.Lib.Helpers.EnumHelper.QuestionType.MultipleChoice)
    {
        foreach (var x in listStatement)
        {<p><input type="checkbox" name="MultipleChoice" /> @Html.DisplayFor(modelItem => x)</p>}
    }
    else if (item.Type == GeneCESI.Lib.Helpers.EnumHelper.QuestionType.Textual)
    {
        foreach (var x in listStatement)
        {<p><input type="text" name="Textual" /> @Html.DisplayFor(modelItem => x)</p>}
    }
    else if (item.Type == GeneCESI.Lib.Helpers.EnumHelper.QuestionType.Cloze)
    {
        foreach (var x in listStatement)
        {<p><input type="text" name="Cloze" /> @Html.DisplayFor(modelItem => x)</p>}
    }
</div>
}


